@model HomepageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Hathor Faucet </h1>
                    <p class="lead text-white-50 mb-2">@Model.Address</p>
                    <p class="lead text-white-50 mb-2">@Model.Amount.ToHTR() HTR available / Current payout: @Model.CurrentPayout.ToHTR()</p>
                    <div>
                        @if (Model.Amount == 0)
                        {
                            <p>The faucet is currently empty. Please come back later.</p>
                            <p>Send some HTR to @Model.Address to fill up the faucet!</p>
                        }
                        else
                        {
                            <form asp-controller="Home" asp-action="Index" method="post">
                                <input type="text" name="address" />
                                @Html.RecaptchaWidget()
                                <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Get Hathor!</button>
                            </form>
                        }

                    </div>
                    <div>
                        <p class="lead text-white-50 mb-2">@Model.ErrorMessage</p>
                    </div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        @*<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Hathor!</a>*@
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    Number of transactions: @Model.NumberOfTransactions <br />
    Total payout: @Model.HistoricPayoutAmount.ToHTR() HTR <br />
</div>
