@model ThankYouViewModel
@inject IOptions<FaucetConfig> faucetConfig
@{
    bool success = Model?.WalletTransaction == null || Model.WalletTransaction.IsSuccess || Model.WalletTransaction.Amount == 0;
    string token = faucetConfig.Value.Network == HathorNetwork.Mainnet ? "FCT" : "HTR";
    ViewData["Title"] = success ? token + " on its way" : "Something went wrong";
}

<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-body mb-5">

            @if (!success)
            {
                <h1>Something went wrong sending your tokens</h1>
                @if (string.IsNullOrEmpty(Model?.WalletTransaction?.Error))
                {
                    <p>Message: @Model?.WalletTransaction?.Error</p>
                }
                return;
            }



            @if (Model?.WalletTransaction != null)
            {
                @if (Model.WalletTransaction.Amount > 0)
                {
                    <h1>You've received @Model.WalletTransaction.Amount.ToHTR() @token</h1>

                    <p>
                        @Model.WalletTransaction.Amount.ToHTR() @token was sent to @Model.WalletTransaction.Address
                        <br />
                        Transaction: <a href="@Model.ExplorerUrl/transaction/@Model.WalletTransaction.HathorTransactionId" target="_blank">@Model.WalletTransaction.HathorTransactionId</a>
                    </p>

                    @if (faucetConfig.Value.Network == HathorNetwork.Mainnet)
                    {
                        <p>
                            Add the <a href="https://explorer.hathor.network/token_detail/000002d5d294bdcec3709c7a0c9e0e598480620738e542d5e27343fc84333522" target="_blank">FCT</a> token configuration string to your wallet to be able to interact with it.<br>
                            <a href="https://explorer.hathor.network/token_detail/000002d5d294bdcec3709c7a0c9e0e598480620738e542d5e27343fc84333522" target="_blank">Visit the token page on the Hathor Explorer for more details.</a>

                        </p>
                    }

                }
                else
                {
                    <h1>Your wallet has already been used</h1>
                    <p>This faucet is for users new to Hathor, to try out the network.</p>
                }
            }
        </div>
    </div>
</section>

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Next Steps</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-people-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <h4 class="mb-1">Send some Hathor to a friend!</h4>
                                <p class="mb-1">Free and instant transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-droplet-half text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <h4 class="mb-1">Fund the faucet</h4>
                                <p class="mb-1">Send some @token back to the community faucet @Model?.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
